body {
    background: #fad390;
    font-family: 'Oxygen', sans-serif;
}
.main {
    height: 100vh;
}
.btn:focus, .form-control:focus, select:focus {
    box-shadow: none;
}
.alert {
    padding: 0.25rem 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
a, a:hover {
    color: black;
}